@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');


:root{

--bg:#080a0c;
--card:#11161c;
--green:#10d065;
--gray:#90a4ae;
--white:#eaecef;

}


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',Tahoma,sans-serif;

}



body{

background:

radial-gradient(
circle at top,
rgba(16,208,101,.12),
transparent 45%
),

var(--bg);


color:var(--white);

padding-bottom:90px;

}




/* Header */


.report-header{

height:70px;

display:flex;

align-items:center;

padding:0 20px;

background:rgba(17,22,28,.85);

border-bottom:

1px solid rgba(16,208,101,.15);

}



.brand-mini{

display:flex;

align-items:center;

gap:10px;

font-size:20px;

font-weight:900;

letter-spacing:2px;

}



.mini-logo{

width:38px;

height:38px;

display:flex;

align-items:center;

justify-content:center;

border-radius:12px;

background:

linear-gradient(
135deg,
#10d065,
#087d3d
);

color:#000;

font-weight:900;

}





.report-container{

max-width:600px;

margin:auto;

padding:20px;

}



.report-container h2{

font-size:24px;

}



.subtitle{

font-size:13px;

color:var(--gray);

margin-top:5px;

margin-bottom:25px;

}







/* سود */


.summary-box{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}



.summary-item{

background:var(--card);

padding:22px;

border-radius:20px;

border:

1px solid rgba(255,255,255,.05);

}



.summary-item span{

font-size:12px;

color:var(--gray);

}



.summary-item h3{

margin-top:10px;

color:var(--green);

}







/* سرمایه گذاری */


.investment-card{


margin-top:20px;

background:

linear-gradient(
135deg,
#141b20,
#0d1217
);


padding:22px;


border-radius:22px;


border:

1px solid rgba(16,208,101,.2);

}



.investment-card h3{

margin-bottom:15px;

}



.vip-status{

background:rgba(16,208,101,.1);

color:var(--green);

padding:12px;

border-radius:12px;

font-weight:bold;

margin-bottom:10px;

}



.investment-card p{

font-size:13px;

color:var(--gray);

}







/* تاریخچه */


.history-card{


margin-top:20px;


background:var(--card);


padding:20px;


border-radius:22px;


}



.history-card h3{

margin-bottom:20px;

}



.history-row{


display:grid;

grid-template-columns:1fr 1fr 1fr;

background:#080a0c;

padding:12px;

border-radius:12px;

font-size:12px;

color:var(--gray);

text-align:center;


}



.empty{

text-align:center;

padding:25px;

font-size:13px;

color:var(--gray);

}






/* منوی پایین */


.bottom-nav{

position:fixed;

bottom:0;

left:0;

width:100%;


height:75px;


background:rgba(15,19,24,.95);


display:flex;


justify-content:space-around;


align-items:center;


border-top:

1px solid rgba(16,208,101,.15);

}



.bottom-nav button{


background:none;


border:none;


color:var(--gray);


font-size:11px;


}



.bottom-nav .active{

color:var(--green);

}